.map-wrapper {
    width: 100%;
    display: flex;
    /* grid-gap: 1px; */
    /* flex-direction: row; */
    column-gap: 0;
    flex-wrap: wrap;
    /* color: white; */
}

.object-grid {
    /* background-color: #09814A; */
    width: 24px;
    height: 24px;
    border: 1px solid #293640;
}

.car {
    background-color: #09814A;
}

.building {
    background-color: #BCB382;
}

.marker {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    top: -60px;
    left: -60px;
}

.marker-radius {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: -30px;
}