/* #121619 - black
#2D4739 - Green - dark
#09814A - Green - light
#BCB382 - Yellow - dark
#E5C687 - Yellow -light */
body {
  background-color: #121619;
  overflow-x: hidden;
}


.wrapper {
  width: 100%;
  height: 100%;
}